[Unit]
Description="Run frankonia.service everyday at 10:15 local time."

[Timer]
OnCalendar=10:15
Unit=frankonia.service

[Install]
WantedBy=multi-user.target
