[Unit]
Description="Run frankonia.service everyday at noon UTC."

[Timer]
OnCalendar=*-*-* 10:00:00
Unit=frankonia.service

[Install]
WantedBy=multi-user.target