[Unit]
Description="Syncronizes availability from M-Tac to Shopify"

[Service]
Type=simple
User=shopify
WorkingDirectory=/opt/shopify-tools
ExecStart=/opt/shopify-tools/vendor_sync/mtac_sync.py