[Unit]
Description="Provides a web interface for managing POs"

[Service]
Type=simple
User=shopify
WorkingDirectory=/opt/shopify-tools/web_tools
ExecStart=/opt/shopify-tools/web_tools/app.py

[Install]
WantedBy=multi-user.target